@use "sass:math";


$font-size: 12px;
$color: #1F1E1E;
$font-family-sans-serif: Roboto, sans-serif;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1450px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1440px
);

@import "../../node_modules/bootstrap/scss/bootstrap";

body, html {
  font-size: $font-size;
  color: $color;
}

.header { //.header .header-name img
  background: #E5E5E5;
  min-height: 80px;
  left: 0;
  right: 0;
  top: 0;

  $_this: &; //задаєм змінну для .header

  &-name img {
    padding-left: 180px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  }

  &-menu {
    margin-right: 171px;
    height: 56px;
    left: 57.61%;
    right: 9.34%;
    top: 12px;
  }
}

.menu-list {
  transition: 500ms;
}

.menu-list:hover {
  transform: scale(1.2);
  cursor: pointer;
}

a {
  color: unset;
  text-decoration: none;
}

a:hover {
  color: unset;
  text-decoration: none;
}

.section_1 {
  max-width: 1280px;
  padding: 0;
}


.image-1 {

  background-image: url("../img/section_1/IMAGE-1.jpg");
  width: 100%;
  height: 720px;
  margin-bottom: 8px;


}

.text-1 {
  text-align: center;
  padding-top: 217px;
  max-width: 459px;
  margin-left: 91px;
}

.font_eco {
  font-size: 1rem;
  line-height: 1.1666rem;
  text-transform: uppercase;
  margin-bottom: 16px;

}

.font_organic {
  padding: 0;
  font-size: 4.6666rem;
  line-height: 4.6666rem;
  margin-bottom: 44px;
}

.btn-shop {
  background: #1F1E1E;
  border-radius: 4px;

}

.text_button {
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1rem;
  padding: 14px 32px;
}

.btn-shop:hover {
  background: #535757;
  color: #ffffff;
  box-shadow: inset -1px 0 10px 4px rgba(0, 0, 0, 50%);
}

.image-2 {
  background-image: url("../img/section_1/IMAGE-2.jpg");
  margin-right: 8px;

}

.image-3 {
  background-image: url("../img/section_1/IMAGE-3.jpg");
}

.font_shop_1, .font_shop_2 {
  padding-left: 44px;
  margin-top: 516px;
  font-size: 3.41666rem;
  line-height: 3.6666rem;
}

.br {
  margin-bottom: 5px;
}

.br_4 {
  margin-bottom: 9px;
}

.br, .br_4 {
  background: rgba(255, 255, 255, 0.24);
  height: 1px;
}

.shop_hover:hover {
  background-color: rgba(255, 255, 255, 0.35);
  cursor: pointer;
}

.shop-now_button {
  padding-bottom: 46px;
  font-size: 1.0833rem;
  line-height: 1.1666rem;
  text-transform: uppercase;
}


.text-sec_2 {
  max-width: 906px;
  min-height: 144px;
  font-size: 3rem;
  line-height: 4rem;
  margin: 0 auto;
  padding-top: 69px;
}

.br_2, .br_3 {
  max-width: 800px;
  background: rgba(0, 0, 0, 0.12);
  height: 1px;
  margin: auto;
}

.br_3 {
  margin-bottom: 63px;
}

.description_1 {
  max-width: 800px;
  margin: 33px auto;
}

.rounded-circle {

  max-width: 32px;
  max-height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.size-1 {
  font-size: 1.3333rem;
  line-height: 1.58333rem;

}

.center {
  padding: 5px 10px;

}

.size-2 {
  font-size: 1.25rem;
  line-height: 1.58333rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 8px;
  margin-top: 15px;

}

.size-3 {
  line-height: 1.3333rem;
  text-align: center;
  margin-bottom: 32px;
}

.bottles {
  max-width: 1280px;
  margin: auto;
}

.bottle-1, .bottle-2, .bottle-3 {
  padding: 0;
  background-color: #EEEEE9;
}

.bottle-1, .bottle-2 {
  margin-right: 8px;
}

.txt-bot {
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding-top: 12px;
  background-color: #ffffff;
  justify-content: space-between;
  margin: 0;
}

.price {
  font-size: 1rem;
  line-height: 1.333rem;
}

.album-block {
  margin-top: 127px;
  margin-left: 65px;

  .col {
    h2 {
      font-size: 4.5rem;
      line-height: 4.6666rem;


    }
  }
}


.txt-alb-bl {
  padding-top: 28px;
  width: 413px;
  font-size: 1.6666rem;
  line-height: 2.25rem;
  letter-spacing: 0.4px;

}

.txt-img {
  margin-left: 32px;
  align-self: center;
  width: 115px;
  line-height: 1.3333rem;
  text-transform: uppercase;

}

.img-s2-1 {
  position: relative;
  bottom: -19px;
}

.img-s2-3 {
  position: relative;
  bottom: -64px;
  padding-top: 96px;
}

.story {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0;
}

.story-title {
  text-align: center;
  padding-top: 128px;
  padding-bottom: 32px;
  font-size: 2.41666rem;
  line-height: 3.3333rem;

}

.story-txt {
  background: #D5D8D1;
  border-radius: 4px;
  max-width: 540px;
  height: 540px;
  flex-direction: column;
  justify-content: center;

}

.story-text {
  font-size: 2rem;
  line-height: 2.666rem;

}

.container-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.brand-list {
  margin-top: 64px;

  .col {
    text-align: center;

    div {
      margin-top: 20px;
    }

  }
}

.section_3 {
  background-color: #B6ACA9;
  margin-top: 63px;
  margin-bottom: 135px;

}

.title-2 {
  padding-top: 64px;
  padding-left: 180px;
  font-size: 4.41666rem;
  line-height: 4.6666rem;

}

.pad_l {
  padding-left: 128px;
}


.story-block {
  margin-left: 80px;
  position: relative;
  bottom: -63px;
  align-items: center;
  font-size: 1.3333rem;
  line-height: 1.75rem;
}

.question_block {
  padding-left: 180px;
}

.txt-sec-4 {
  padding-left: 8px;
  margin-left: 80px;
  position: relative;
}

.txt-sec-4::before {
  position: absolute;
  content: url("../img/section_4/Rectangle.svg");
  right: 100%;
  bottom: 3px;

}

.title-3 {
  font-size: 4.25rem;
  line-height: 4.6666rem;
  margin-top: 16px;

}

.list-qst {

  margin: 55px 180px 23px 540px;
  list-style: none;


}

.qst-1, .qst-2, .qst-3 {
  position: relative;
  font-size: 1.5833rem;
  line-height: 2.25rem;
  letter-spacing: 0.4px;
  padding: 20px 0 20px 20px;
  cursor: pointer;

}

.qst-1:before, .qst-2:before, .qst-3:before {
  content: "01";
  position: absolute;
  right: 98%;
  font-size: 1rem;
  bottom: 20px;

}

.qst-2:before {
  content: "02";
}

.qst-3:before {
  content: "03";
}

.qst-1::after, .qst-2::after, .qst-3::after {
  content: "add";
  position: absolute;
  left: 97%;
  font-size: 1rem;
  bottom: 20px;
}


.title-4 h3 {
  margin-top: 230px;
  margin-bottom: 55px;
  text-align: center;
  font-size: 4.666rem;
  line-height: 4.666rem;
}

.txt-color {
  opacity: 30%;
  color: #1F1E1E;
  cursor: pointer;
  text-decoration: none !important;

}

.photo-block {
  margin: 64px;
}

.image-s5-1 {
  background-image: url("../img/section_5/IMAGE-s5-1.jpg");
}

.image-s5-2 {
  background-image: url("../img/section_5/IMAGE-s5-2.jpg");
}

.image-s5-3 {
  background-image: url("../img/section_5/IMAGE-s5-3.jpg");
}

.image-s5-4 {
  background-image: url("../img/section_5/IMAGE-s5-4.jpg");
}

.image-s5-1, .image-s5-2, .image-s5-3, .image-s5-4 {
  background-repeat: no-repeat;
  max-width: 264px;
  height: 264px;
  margin-bottom: 8px;
  justify-content: flex-end;
  flex-direction: column;
}

footer {
  margin-top: 197px;
}

.col-7-title {
  font-size: 2.75rem;
  line-height: 3.75rem;
  padding-bottom: 85px;
}

.col-7-txt {
  padding-bottom: 56px;
}

.opac {
  opacity: 30%;
}

.foot-p-1 {
  margin-top: 75px;
}

.soc_links {
  padding-bottom: 42px;
}

.soc_links-1 {
  padding-bottom: 15px;
  line-height: 1.333rem;
}

.contact-block {
  margin-top: 63px;
  margin-bottom: 64px;
}

.contacts {
  font-size: 2.1666rem;
  line-height: 2.8883rem;
}

.trust-txt {
  line-height: 1.11083rem;
  font-size: 0.8333rem;
  padding-left: 8px;
  vertical-align: bottom;
}

.pay-block {
  background-color: rgba(0, 0, 0, 0.04);
  min-height: 56px;
}

.pad-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.pages-block {
  min-height: 94px;
  background-color: #1F1E1E;
  align-content: center;


  .btn-footer {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 2px;
    margin-right: 4px;
    margin-bottom: 4px;
  }

  .btn-footer:hover {
    background-color: #1F1E1E;
  }
}

.list-footer {
  color: #ffffff;
  background-color: #1F1E1E;
  font-size: 11px;
  line-height: 16px;
}

.pad-60 {
  padding-left: 60px;
}



