.container
    header.header.row.align-items-center
        .col.header-name
            a(href="#")
                img(src='img/header/img-salma.png')
        .col
            .row.header-menu.align-items-center
                .col
                    p.menu-list
                        a(href="#") HOME
                .col
                    p.menu-list
                        a(href="#") SHOP
                .col
                    p.menu-list
                        a(href="#") ABOUT
                .col
                    p.menu-list
                        a(href="#") JOURNAL
                .col
                    p.menu-list
                        a(href="#") CONTACT
                .col
                    p.menu-list
                        a(href="#")
                            img(src='img/header/img-basket.png')