doctype html
head
    meta(charset='UTF-8')
    title Salma

    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet')

    link(rel='stylesheet' href='css/style.css')

body
    include header
    section.container.section_1
        .row.flex-column.m-0
            .col.p-0
                .image-1
                    .row.text-1.flex-column
                        .col.font_eco.text-white Eco-Relax. Made with 100% GOTS
                        .col.font_organic.text-white Organic cotton, <br> free from harmful <br> substances.
                        .col
                            a(href='#' class='btn btn-shop text_button') Shop the Collection
            .col.flex-row
                .row.justify-content-center
                    .col.image-2
                        div.shop_hover.font_shop_1
                            a(href='#' class='text-white') Shop New in
                            .br
                                br
                            .shop-now_button
                                a(href='#' class='text-white') Shop now
                    .col.image-3
                        div.shop_hover.font_shop_2
                            a(href='#' class='text-white') Shop Bestsellers
                            .br
                                br
                            .shop-now_button
                                a(href='#' class='text-white') Shop now
    section.container.section_2
        .row
            p.text-sec_2.text-center
                | Shop hundreds of enamel pins from artists. The best cool pin badges to
                | decorate your backpack, denim jean
                | jacket, lapel, and festival hat for sale in our online store.
        .br_2
            br
        .row.description_1.flex-nowrap
            .col.justify-content-center
                .row.flex-column.align-items-center
                    .col.rounded-circle.size-1.p-0
                        .center 1
                    .col.size-2 Cruelty Free
                    .col.size-3 Free digital proofs and best design advice
            .col.justify-content-center
                .row.flex-column.align-items-center
                    .col.rounded-circle.size-1.p-0
                        .center 2
                    .col.size-2 100% Vegan
                    .col.size-3 You can always start with 50 pcs here
            .col.justify-content-center
                .row.flex-column.align-items-center
                    .col.rounded-circle.size-1.p-0
                        .center 3
                    .col.size-2 Natural Ingredients
                    .col.size-3 Get excellent pins or have your money back
        .br_3
            br
        .row.bottles
            .col.bottle-1
                img(src="../img/section_2/img-bottle-1.png" alt="")
                .row.txt-bot
                    .description Hard BOILED Egg and Avocado
                    .price $ 7.99 USD $ 5.00 USD
            .col.bottle-2
                img(src="../img/section_2/img-bottle-2.png")
                .row.txt-bot
                    .description BOMB! Enamel Pin
                    .price $ 7.12 USD
            .col.bottle-3
                img(src="../img/section_2/img-bottle-3.png")
                .row.txt-bot
                    .description Pineapple Charm Pendant
                    .price $ 9.99 USD
        .row.album-block
            .col
                h2 From our <br> powerhouse <br> to your house.
                div.txt-alb-bl Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
            .col.d-inline-flex.img-s2-1
                img(src="../img/section_2/img-s2-1.jpg")
                .txt-img Use this text to describe the first step...
        .row.album-block
            .col-8.d-inline-flex.justify-content-center
                img(src="../img/section_2/img-s2-2.jpg")
                .txt-img Use this text to describe the first step...
            .col-4.d-inline-flex.img-s2-3
                img(src="../img/section_2/img-s2-3.jpg")
                .txt-img Use this text to describe the first step...
        .row.album-block
            .col.d-inline-flex.justify-content-center
                img(src="../img/section_2/img-s2-4.jpg")
                .txt-img Use this text to describe the first step...
        div.story-title Get the rest of the story
        .row.story
            .col.p-0
                img(src="../img/section_2/img-s2-5.jpg")
            .col.p-0
                div.story-txt.d-flex
                    div.text-white.container-1
                        div star
                        div star
                        div star
                        div star
                        div star
                    div.text-center.story-text “Best templates and support out <br> there! They are always happy to help <br> with any issues you may be having or <br> even just showing how to edit things.”
                    div.text-center Sam (Trustpilot)
        .row.brand-list
            .col
                img(src="../img/section_3/icon-cleo.svg")
                div “Great communication and help from <br> him. Thank you.”
            .col
                img(src="../img/section_3/icon-arial.svg")
                div "Best templates & support out <br> there!"
            .col
                img(src="../img/section_3/icon-walden.svg")
                div “Fantastic designer... but above all<br> great people"
            .col
                img(src="../img/section_3/icon-petsplay.svg")
                div “Great communication with detailed<br> screen shots.”
    section.container.section_3
        div.title-2 A personal commerce <br> expert at your fingertips
        .row.story-block
            .col
                img.IMAGE-s3-5(src="../img/section_3/IMAGE-s3-5.jpg")
            .col.pad_l
                div Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Suspendisse varius enim in <br> eros elementum tristique. Duis cursus, mi <br> quis viverra ornare, eros dolor interdum <br> nulla, ut commodo diam libero vitae erat.
                div
                    a(href='#' class='btn btn-shop text_button') Get started
    section.container.section_4
        div.question_block
            .txt-sec-4 YOU HAVE QUESTIONS
            .title-3 We’ve got answers.
        ul.list-qst
            li.qst-1 Do you offer educational discounts?
            hr
            li.qst-2 Which payment methods do you accept?
            hr
            li.qst-3 I have a license. Can I switch to a subscription?
            hr
            div.d-flex.justify-content-end
                a(href='#' class='btn btn-shop text_button') Start free trial
            div.d-flex.justify-content-end
                div.mt-2
                    p.text-uppercase 30 day trial lorem ipsum dolor.
    section.container.section_5
        div.title-4
            h3 Follow
                a(href='#' class='txt-color') @salma
                div on Instagram
        div.text-center
            a(href='#' class='btn btn-shop text_button') Follow @salma
        .row.justify-content-between.photo-block
            .col-3.image-s5-1.d-flex
                .br_4
                    br
                .text-white This is some text from your @instagram feed.

            .col-3.image-s5-2.d-flex
                .br_4
                    br
                .text-white This is some text from your @instagram feed.
            .col-3.image-s5-3.d-flex
            .col-3.image-s5-4.d-flex
                .br_4
                    br
                .text-white This is some text from your @instagram feed.
    footer.container
        hr
        .row.foot-p-1
            .col-7
                div.col-7-title Sign up for email <br> newsletters from SALMA!
                div.col-7-txt.text-uppercase
                    span To learn how we process your data, visit our
                    a(href='#' class='opac') Privacy Notice
                    span . You can <br>
                    a(href='#' class='opac') unsubscribe
                    span  at any time without costs.
            .col-5.text-uppercase
                div.soc_links Social Links
                .row.soc_links-1
                    .col Shop
                    .col Learn
                    .col Template
                .row
                    .col
                        div All products
                        div Fruit
                        div Custom
                        div Cute
                    .col
                        div Home
                        div Shop
                        div About Us
                        div Journal
                        div FAQ
                        div Contact
                    .col
                        div Style Guide
                        div Instructions
                        div Licensing
                        div Changelog
                        div More Templates
        hr
        .row.justify-content-center.text-center.contact-block
            .col
                div
                    img.IMAGE-s3-5(src="../img/footer/icon-email.svg")
                div.text-uppercase email
                div.contacts
                    a(href='#') hello@template.com
            .col
                img.IMAGE-s3-5(src="../img/footer/icon-showroom.svg")
                div.text-uppercase showroom
                div.contacts Prinzregentenstrasse 1 <br> 80538 Munich · Germany
            .col
                img.icon-email(src="../img/footer/icon-phone.svg")
                div.text-uppercase phone
                div.contacts +49·34·376·839·0
        .row.justify-content-between
            .col-4.text-uppercase
                span
                    img(src="../img/footer/icon-trustpilot.svg" alt="")
                span.trust-txt Rating on Trustpilot 4.75 · 5

            .col-2.p-0.d-flex
                div
                    img(src="../img/footer/icon-gpay.svg" alt="")
                    span.pad-8 •
                    img(src="../img/footer/icon-pay.svg" alt="")
                    span.pad-8 •
                    img(src="../img/footer/icon-paypal.svg" alt="")
            .row.pages-block
                .col-10
                    span.list-footer.text-uppercase All template Demos:
                    a(href='#' class='btn btn-footer') Home #1
                    a(href='#' class='btn btn-footer') Home #2
                    a(href='#' class='btn btn-footer') Home #3
                    a(href='#' class='btn btn-footer') Shop
                    a(href='#' class='btn btn-footer') Reviews
                    a(href='#' class='btn btn-footer') FAQ
                    a(href='#' class='btn btn-footer') About #1
                    a(href='#' class='btn btn-footer') About #2
                    a(href='#' class='btn btn-footer') About #3
                    a(href='#' class='btn btn-footer') Journal
                    a(href='#' class='btn btn-footer') Contact #1
                    a(href='#' class='btn btn-footer') Contact #2
                    a(href='#' class='btn btn-footer') Contact #3
                    a(href='#' class='btn btn-footer') CMS Blog Post
                    a(href='#' class='btn btn-footer') CMS Team Member
                    a(href='#' class='btn btn-footer') Ecommerce Products Detail
                .col-2.pad-60
                    a(href='#' class='btn btn-footer') Buy Template • $129

